.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages

**/*.g.dart
**/*.freezed.dart
**/*.mocks.dart

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/

.idea/
.vscode/
*.iml
