/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache
/.nx/cache
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
testem.log
*.iml
.idea/
.vscode/
*.launch
.project
.classpath
.settings/
Thumbs.db
.DS_Store
